border_color = (WHITE,WHITE,ON)
button_active_color = (WHITE,BLUE,ON)
button_inactive_color = (BLACK,WHITE,OFF)
button_key_active_color = (WHITE,BLUE,ON)
button_key_inactive_color = (RED,WHITE,OFF)
button_label_active_color = (YELLOW,BLUE,ON)
button_label_inactive_color = (BLACK,WHITE,ON)
check_color = (BLACK,WHITE,OFF)
check_selected_color = (WHITE,BLUE,ON)
darrow_color = (GREEN,WHITE,ON)
dialog_color = (BLACK,WHITE,OFF)
inputbox_border_color = (BLACK,WHITE,OFF)
inputbox_color = (BLACK,WHITE,OFF)
item_color = (BLACK,WHITE,OFF)
item_selected_color = (WHITE,BLUE,ON)
menubox_border_color = (WHITE,WHITE,ON)
menubox_color = (BLACK,WHITE,OFF)
position_indicator_color = (YELLOW,WHITE,ON)
screen_color = (CYAN,BLUE,ON)
searchbox_border_color = (WHITE,WHITE,ON)
searchbox_color = (BLACK,WHITE,OFF)
searchbox_title_color = (YELLOW,WHITE,ON)
shadow_color = (BLACK,BLACK,ON)
tag_color = (BLUE,WHITE,ON)
tag_key_color = (RED,WHITE,ON)
tag_key_selected_color = (RED,BLUE,ON)
tag_selected_color = (YELLOW,BLUE,ON)
title_color = (BLACK,WHITE,ON)
uarrow_color = (GREEN,WHITE,ON)
use_colors = ON
use_shadow = ON
